@model EventApp.Models.Event

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.EventName)</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Guests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guests)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-dark">@Html.ActionLink("Edit", "Edit", new { id = Model.EventId })</button>  
    <button type="button" class="btn btn-dark">@Html.ActionLink("Back to List", "Index")</button>
</p>
